@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,700;1,400&family=Playfair+Display:wght@400;700&display=swap');

$color-bg: #222;
$color-primary: #eee;
$color-secondary: #aaa;

$font-blog-title: bold 3rem 'Playfair Display', serif;
$font-blog-subtitle: normal 2rem 'Playfair Display', serif;

$font-post-title: normal 2rem 'Playfair Display', serif;
$font-post-date: bold 1rem 'Cabin', sans-serif;
$font-post-blurb: italic 1rem 'Cabin', sans-serif;
$font-post-body: normal 1rem 'Cabin', sans-serif;
